@model GeneralStore.MVC.Models.ProductDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InventoryCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InventoryCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsFood)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsFood)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AvgReview)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AvgReview)
        </dd>

    </dl>
</div>
<div>
    <h4>Reviews</h4>
    <hr />
    <dl class="dl-horizontal">
        @foreach (var item in Model.Reviews)
        {
            <dt>
                @Html.DisplayNameFor(modelItem => item.ReviewID)
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => item.ReviewID)
            </dd>
            <dt>
                @Html.DisplayNameFor(modelItem => item.Rating)
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => item.Rating)
            </dd>
            <dt>
                @Html.DisplayNameFor(modelItem => item.CustomerName)
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </dd>
            <dt>
                @Html.DisplayNameFor(modelItem => item.ReviewTitle)
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => item.ReviewTitle)
            </dd>
            <dt>
                @Html.DisplayNameFor(modelItem => item.ReviewMessage)
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => item.ReviewMessage)
            </dd>
            <dt>
                @Html.DisplayNameFor(modelItem => item.DateOfReview)
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => item.DateOfReview)
            </dd>
            <br />

        }
    </dl>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
